#hero{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 2rem;

  .img-container{

    img{
      object-fit: cover;
      object-position: 0rem 0rem;
      height: clamp(10rem, 25vw, 23rem);
      width: clamp(10rem, 20vw, 20rem); 
      border-radius: 50rem 15rem;

    }

  }

  .text-container{
    max-width: 40rem;
    
    & .title{
      font-size: 2.5rem;
      font-weight: bold;
    }

    & .subtitle{
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--color-accent);
    }

    & .description{

    }
  }



}