body {
  font-family: montserrat;
  color: #fff;
  background-color: #252422;
}

.container {
  margin: 0rem 10rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  width: 100%;
  margin-top: 2rem;
  border-bottom: 2px solid #fff;
}
.navbar .link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: #fff;
}


.navbar .nav-link {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  margin-bottom: .1rem;
}

.intro{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1.4fr 3.4fr;
}

.tag-container {
  display: flex;
  justify-content: space-between;
}

.tag-list {
  padding: 3px 10px;
  list-style-type: none;
  border: 3px #7a7a7a solid;
  border-radius: 4px;
  display: inline; 
}

.profile-img-container img {
  height: 200px;
  object-fit: cover;
}