.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: var(--color-grey-900) 2px solid;
  background-color: var(--color-black);

  position: absolute;
  width: 100%;


  & ul {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    font-size: 1.2rem;

    & :hover{
      color: var(--color-accent);
    }
  }

  & li {
    transition: all 1s ease;

  }

  .navbar-logo{
    color: var(--color-accent);
  }


}